.background-section {
    background-image: url('./code_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; /* Adjust the height if needed */
  }
